<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ECS OpenData</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

    <!-- DataTables -->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

    <script src="https://use.fontawesome.com/c4974a2d5d.js"></script>

    <!-- custom CSS -->
    <link rel="stylesheet" href="static/css/master.css">

  </head>
  <body bgcolor="#FF69B4">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="">ECS OpenData</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if current_user.has_role('admin') %}
              <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
              </li>
            {% endif %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span>
                  <i class="fa fa-user-circle fa-fw"></i>
                  {% if current_user.first_name -%}
                  {{ current_user.first_name }}
                  {% else -%}
                  {{ current_user.email }}
                  {%- endif %}<span class="caret"></span>
                </span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/account">Account</a>
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            </li>
        </ul>
        </div>
      </nav>
    </header>

    <div class="container-fluid">
      <div class="row" id="first-row">
        <div class="col" id="filters">
          <h2>Filters</h2>
          <select class="custom-select" id="select-experiment-type">
          </select>
        </div>
        <div class="col" id="visualization">
          <h2>Visualization</h2>
          <a href="https://placeholder.com"><img src="https://via.placeholder.com/500x350"></a>
        </div>
      </div>
      <div class="row" id="table-row">
        <div class="col">
          <table id="table_id" class="display hover">
            <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Row 1 Data 1</td>
                    <td>Row 1 Data 2</td>
                </tr>
                <tr>
                    <td>Row 2 Data 1</td>
                    <td>Row 2 Data 2</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

    <!-- DataTables -->
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript">
      $(document).ready( function () {
        $('#table_id').DataTable();
      } );
    </script>

    <!-- Fetch data -->
    <script type="text/javascript">
      $.getJSON( "/fetchExperiment", function( data ) {
        console.log(data);
        $.each(data['exp_types'], function( key, val ) {
          console.log(key)
          $('#select-experiment-type')
             .append($("<option></option>")
             .attr("value", key)
             .text(val));
        });
      });
    </script>
  </body>
</html>
