
<!--
    {% for row in rows %}
    <tr>
        <td>{{ row.idnum }}</a></td>
        <td>{{ row.product_code }}</td>
        <td bgcolor="{{ row.stat_colour }}">{{ row.unit_status }}</td>
    </tr>
    {% endfor %}
-->

<p>Hello this is a test</p>

<html>
<body>
     <table>
         <tbody>
         {# here we iterate over every item in our list which we will pass from bar() #}
         {% for item in rows %}
             <tr>
             {% for value in item %}
                <td>{{ value }}</td>
             {% endfor %}
             </tr>
         {% endfor %}
         </tbody>
     </table>
 </body>
 </html>

<!--
<div class="row" id="table-row">
        <div class="col">
          <table id="table_id" class="display">
            <thead>
                <tr>
                    <th>Column 1</th>
                    <th>Column 2</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Row 1 Data 1</td>
                    <td>Row 1 Data 2</td>
                </tr>
                <tr>
                    <td>Row 2 Data 1</td>
                    <td>Row 2 Data 2</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>-->
